:root {
            --primary-red: #dc2626;
            --red-dark: #b91c1c;
            --white: #ffffff;
            --gray-light: #f8fafc;
            --gray: #64748b;
            --shadow: 0 10px 30px rgba(220, 38, 38, 0.2);
            --green-success: #10b981;
            --shadow-lg: 0 20px 40px rgba(0,0,0,0.1);
             --bg-color: #ffffff;
            --text-color: #222;
            --card-color: #f5f5f5;

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
            overflow-x: hidden;
             background: var(--bg-color);
            color: var(--text-color);
        }

        body.dark-mode {
        --bg-color: #111111;
         --text-color: #ffffff;
         --card-color: #1e1e1e;
        }

        /* Header */
        header {
            position: fixed;
            top: 0;
            width: 100%;
            background: transparent;
            backdrop-filter: blur(10px);
            z-index: 1000;
            transition: all 0.4s ease; 
            
        } 

        body.dark-mode header {
        background: rgba(0, 0, 0, 0.6);
        }

        .logo img{
        height:100px;
        width:auto;
        }

       nav {
            max-width: 1200px; 
            margin: 0 auto;
            padding: 1rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav-menu {
            display: flex;
            list-style: none;
            gap: 2rem;
        }

        .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}


        .nav-menu a {
            text-decoration: none;
            color: white;
            font-weight: 700;
            transition: color 0.3s ease;
        }

        .nav-menu a:hover {
            color: var(--primary-red);
        } 

        .nav-menu li a {
          color: var(--text-color);
          text-decoration: none;
        }
        .nav-menu li a:hover {
            color: #ff3b3b;
        }

        /* Theme button */
.theme-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer; 
   
    
}

        
        .cta-buttons {
            display: inline-block;
            gap: 1rem;
            padding: 0rem 1 rem;
        }

        .btn {
            padding: 0.8rem 1.5rem;
            border: none;
            border-radius: 50px;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
        }

        .btn-primary {
            background: var(--primary-red);
            color: white;
        }

        .btn-primary:hover {
            background: var(--red-dark);
            transform: translateY(-2px);
        }

        .btn-whatsapp {
            background: #25D366;
            color: white;
        }

        .btn-whatsapp:hover {
            background: #128C7E;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            gap: 6px;
        }

        .hamburger span {
            width: 28px;
            height: 3px;
            background: #dc2626;;
            border-radius:2px;
            transition:all 0.4s ease;         
        }


        .hamburger.active span:nth-child(1){
        transform:rotate(45deg) translate(5px,5px);
        }

        .hamburger.active span:nth-child(2){
        opacity:0;
        }

        .hamburger.active span:nth-child(3){
            transform:rotate(-45deg) translate(6px,-6px);
        }



        /* Hero Section */
        .hero {
            height: 100vh;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 2rem;
            position: relative;
              overflow: hidden;
        }

        .hero h1 {
            font-size: clamp(2.5rem, 5vw, 4rem);
            margin-bottom: 1rem;
            animation: fadeInUp 1s ease;
        }

        .hero p {
            font-size: 1.3rem;
            margin-bottom: 2rem;
            max-width: 600px;
            animation: fadeInUp 1s ease 0.2s both;
        }

        /* Video */
            .hero-video {
                position: absolute;
                 top: 50%;
                 left: 50%;
                 width: 100%;
                  height: 100%;
                  object-fit: cover;
                 transform: translate(-50%, -50%);
                 z-index: -2;
        } 

        /* Dark overlay */
            .hero-overlay {
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 background: rgba(0, 0, 0, 0.5); 
                  z-index: -1;
        }

        /* Content */
        .hero-content {
          position: absolute;
          top: 50%;
          left: 50%;                     /* ADD THIS */
          transform: translate(-50%, -50%); /* FIXED */
          text-align: center;
          width: 100%;
         padding: 0 15px;
         z-index: 1;
         color: white;
        }
       
        .hero-content h1 {
        font-size: 3rem;
        }

        .hero-content p {
          margin: 0 auto;
         font-size: 1.2rem;
         text-align: center;
        }



       




        /* Features */
        .features {
            padding: 5rem 2rem;
            background: var(--gray-light);
            text-align: center;
             background: var(--card-color);
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
             background: var(--card-color);
        }

        .section-title {
            font-size: 2.5rem;
            color: var(--primary-red);
            margin-bottom: 3rem;
             
        }

        .features-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
        }

        .feature-card {
           background: white;
            background: var(--card-color);
             --text-color: #121212;
            padding: 2rem;
            border-radius: 15px;
            box-shadow: var(--shadow);
            transition: transform 0.3s ease;
        }
        .feature-card img{
            width:100%;
            height:180px;
            object-fit:cover;
            border-radius: 10px;
            transition:0.4s;
        }

        .feature-card:hover {
            transform: translateY(-10px);
        }

        .feature-icon {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        /* About */
        .about {
            padding: 5rem 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            align-items: center;
            background: var(--card-color);
        }

        .about-image {
            height: 400px;
            border-radius: 40px;
            box-shadow: var(--shadow);
        } 

        .about-image img{
            width:100%;
            height:400px;
            object-fit:cover;
            border-radius: 40px;
            transition:0.4s;
        }

        .about-image img:hover{
            transform:scale(1.1);
        }


        /* Partners */
.partners {
    overflow: hidden;
    width: 100%;
    background: #fff;
    padding: 20px 0;
}

.partners-track {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    width: max-content;  
    animation: scrollLeft 20s linear infinite;
}

.partners-track img {
    height: 60px; 
    width: auto;
    flex-shrink: 0;
}


        /* Services */
        .services-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            margin-bottom: 4rem;
        }

        .service-card {
            padding: 2rem;
            border-radius: 15px;
            text-align: center;
            box-shadow: var(--shadow);
            transition: all 0.3s ease;
             background: var(--card-color);
        }

        .service-card:hover {
            transform: translateY(-5px);
        }

        /* Daily Route */
.route {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.route-image {
    height: 400px;
    border-radius: 40px;
    box-shadow: var(--shadow);
} 

.route-image img{
    width:100%;
    height:400px;
    object-fit:cover;
    border-radius: 40px;
    transition:0.4s;
}

.route-image img:hover{
    transform:scale(1.1);
}



        /* Gallery */
        .gallery-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;
        }

        .gallery-item {
            height: 250px;
            background: var(--gray-light);
            overflow:hidden;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            box-shadow:0 5px 20px rgba(0,0,0,0.1);
            
        }


        .gallery-item img{
            width:100%;
            height:250px;
            object-fit:cover;
            transition:0.4s;
        }

        .gallery-item img:hover{
            transform:scale(1.1);
        }

        .gallery-item:hover {
            transform: scale(1.05);
        }

       /*   Contact  */
        .contact {
            padding: 5rem 2rem;
            background: var(--gray-light);
             background: var(--card-color);
        }
   
        .contact-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            margin-bottom: 3rem;
        } 
        .map-container iframe{
            width: 100%;
            height: 350px;
            border-radius: 10px;
        }
    
      
            

        /* Footer */
        footer {
            background: #111;
            color: white;
           padding: 2rem 2rem 2rem;
        }

        .footer-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 3rem;
            
             background: #111;
        }

        .social-icons {
            display: flex;
            gap: 1rem;
        }

        .social-icons a {
            width: 40px;
            height: 40px;
            background: var(--primary-red);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        .social-icons a:hover{
        transform:scale(1.1);
         background:white;
        color:var(--primary-red);
         }

         .footer-bottom{
             background: #111;
            text-align:center;  
            border-top:1px solid #333;
        }



        /* Floating Buttons */
        .whatsapp-float{
                         position: fixed;
                         width:60px;
                         height:60px;
                         bottom:20px;
                         right:20px;
                         background-color:#25D366;
                        color:white;
                        border-radius:50%;
                       text-align:center;
                         font-size:35px;
                         line-height:60px;
                        box-shadow:2px 2px 10px rgba(0,0,0,0.3);
                         z-index:100;
                     }

.whatsapp-float:hover{
background-color:#1ebe5d;
} 


        /* Animations */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Partners scroll animation */
@keyframes scrollLeft {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-50% - 20px)); }
}


        /* Mobile Responsive */
        @media (max-width: 768px) {
            
            .nav-menu {
                position: absolute;
                top: 135px;
                left: -60%;
                width: 60%;
                height: 100vh;
                background:  rgba(0, 0, 0, 0.6);
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                align-items: center;
                transition: 0.4s;
                padding: 20px 0;
            }

            .nav-menu.active {
                left: 0;
                
            }
             .nav-menu li a {
                color: #ffffff; /* FIXED */
                font-size: 18px;
                 padding: 12px 0;
                 display: block;
            }

             .nav-menu li a:hover {
               color: #ff3b3b;
             }
            .hamburger{
            display:flex;
            }

           header .cta-buttons {
                display: none;
            }

            .about,
            .contact-grid {
                grid-template-columns: 1fr;
                gap: 2rem;
            }

            .hero {
                padding: 0 1rem;
            }
        }

       

   
            





